@page "/counter"
@inject BlazorFront.Services.Account.UserState UserState;
@inject System.Net.Http.HttpClient Http;
<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>Current userState: @UserStateString</p>
<button class="btn btn-primary" onclick="@IncrementCount">Click me</button>

@functions {
    int currentCount = 0;

    string UserStateString { get; set; }

    async void IncrementCount()
    {
        currentCount++;
        UserStateString = JsonUtil.Serialize(UserState);
        var res = await Http.PostJsonAsync<object>("/api/Account/Authorize", new { Email = "maksalmak@gmail.com", Password="CaPOnidolov2"});
        Console.WriteLine(res);
    }
}
