
@{
    ViewData["Title"] = "Index";
}
@using SituationCenterBackServer.Models.VoiceChatModels;
@model IEnumerable<ApplicationUser>
<h2>Панель администратора</h2>
<div class="row">
    <div class="col-lg-6">
        <h1>Состояние пользователей</h1>
        <table>
            <tr>
                <td>email</td>
                <td>phone number</td>
                <td>roles</td>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>
                        @foreach (var role in user.Roles)
                        {
                            @role.RoleId
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
