
@{
}

<h3 id="status"></h3>
<button id="sendlog" class="btn btn-lg">Отправить лог</button>
<input type="text" id="findfield" />
<table class="table-bordered table">
    <thead>
        <tr>
            <th>Категория</th>
            <th>Уровень логирования</th>
            <th>Информация</th>
        </tr>
    </thead>
    <tbody id="body"></tbody>
</table>
<script>
    document.getElementById("sendlog").onclick = function ()
    {
        var ajaxSettings = {
            complete: function (arg) {alert(arg.responseText)
            }
        };

        $.ajax("logs/testlogs", ajaxSettings)
    }

    var sort = function () {
        var filter = field.value.toUpperCase();
        var tr = document.getElementById("body").getElementsByTagName("tr");
        for (var i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    };

    var socket;
    var connectcount = 0;
    var status = document.getElementById("status");
    var initSocket = function () {
        socket = new WebSocket("ws://" + window.location.host +"/administrator/logs");
        connectcount++;
        status.innerHTML = "Подключение " + connectcount;
        socket.onmessage = function (args) {
            var message = JSON.parse(args.data);
            document.getElementById("body").insertAdjacentHTML("afterbegin", "<tr><td>" + message.CategoryName + "</td><td>" + message.LogLevel + "</td><td>" + message.Message + "</td></tr>")
            sort();
        }
        socket.onopen = function (args)
        {
            connectcount = 0;
            status.innerHTML = "Подключено";
        }
        socket.onclose = function (args) {
            initSocket();
        }
    }
    initSocket();
    var field = document.getElementById("findfield");
    field.onkeyup = sort;
</script>

