@using SituationCenterBackServer.Models.VoiceChatModels
@model IEnumerable<Room>
@{
    ViewData["Title"] = "Rooms";
}

<h2>@ViewData["Title"].</h2>

<ol>
    @foreach (var room in Model)
    {
        <li>@room.Name</li>
    }
</ol>