@page
@model SituationCenterCore.Pages.Center.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Situation center Page, Макаревич, добавь сюда бабилону</h2>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
