@page
@model TestModel
@{
    ViewData["Title"] = "Files storage";
}

<form method="post" enctype="multipart/form-data" accept=".doc,.docx">
    <input type="file" name="file" multiple />
    <input type="submit" />
</form>
@foreach (var fileName in Model.lols)
{
<h2>@fileName</h2>
}