@page
@model SituationCenterCore.Pages.Files.AccessDeniedModel
@{
    ViewData["Title"] = "AccessDenied";
}

<h2>AccessDenied</h2>
<h3>You can't download this file</h3>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
